<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <div id="root">
      <div class="background"></div>

      <main class="flex-row main-size proprieties">
        <!-- LEFT SIZE  -->
        <section class="left-section-size proprieties">
          <header class="left-header-size proprieties flex-row">
            <div class="flex-row">
              <img src="img/avatar_io.jpg" class="avatar-size" alt="" />
              <div class="text-chat-form">
                <span>Sofia</span>
              </div>
            </div>
            <div class="flex-row">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </header>

          <!-- NEW NOTIFICATION  -->
          <div class="new-notifications flex-row">
            <div class="flex-row">
              <div class="notification-box">
                <i class="fa-solid fa-bell-slash"></i>
              </div>
            </div>
            <div class="flex-column notification-text">
              <span>Ricevi notifiche di nuovi messaggi</span>
              <a href="">Attiva notifiche desktop</a>
            </div>
          </div>
          
          <!-- SEARCH CHAT BAR  -->
          <div class="input-bar flex-row">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              type="search"
              class="input-search"
              placeholder="Cerca o inizia una nuova chat"
            />
          </div>

          <!-- CHAT LIST -->
          <section class="chat-list flex-column">
            <div v-for="element in chatList" class="chat flex-row proprieties">
              <div>
               <img :src="'img/' + element.pic" class="avatar-size" alt="" />
              </div>
              <div class="flex-row text-hour-form">
                <div class="flex-column notification-text">
                  <span> {{element.name}}</span>
                  <span>Ultimo messaggio inviato</span>
                </div>
                <div class="hour">
                  <span>12:00</span>
                </div>           
              </div>
            </div>
            
          </section>
        </section>

        <!-- RIGHT SIDE -->
        <section class="right-section-size proprieties flex-column">
          <header class="flex-row right-header-size proprieties">
            <div class="flex-row">
              <img src="img/avatar_1.jpg" alt="" class="avatar-size" />
              <div class="flex-column text-chat-form">
                <span>Michele</span>
                <span>Ultimo messaggio inviato oggi alle 12:00</span>
              </div>
            </div>
            <div class="flex-row">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </header>

          <!-- CURRENT CHAT WINDOW -->      
          <section class="current-chat-window flex-column">

            <!-- MY CHAT -->
            <div v-for="(element, i) in myMessage">

            
            <div  class="my-chat-box flex-column">
              <div class="my-chat flex-row">
                <p>
                 {{element.chat1[i]}}
                </p>
                <span>15:30</span>
              </div>
            </div>

            <div class="my-chat-box flex-column">
              <div class="my-chat flex-row">
                <p>
                  {{element.chat1[i]}}
                </p>
                <span>15:50</span>
              </div>
            </div>

          </div>

            <!-- INTERLOCUTOR CHAT  -->
            <div  class="interlocutor-chat-box flex-column">
              <div v-for="(element) in chatList" class="interlocutor-chat flex-row">
                <p>{{element.chat[0]}}</p>
                <span>16:15</span>
              </div>
            </div>

            <div class="my-chat-box flex-column">
              <div class="my-chat flex-row">
                <p>
                  Ricordati di stendere i panni
                  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </p>
                <span>15:50</span>
              </div>
            </div>

            <div class="interlocutor-chat-box flex-column">
              <div class="interlocutor-chat flex-row">
                <p>
                  Tutto
                  fatto!aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </p>
                <span>16:15</span>
              </div>
            </div>
          </section>
          <section class="write-text-bar flex-row">
            <!-- <div> -->
            <i class="fa-regular fa-face-smile"></i>
            <!-- </div> -->
            <div class="input-text-down flex-row">
              <input
                type="searc"
                name=""
                id=""
                placeholder="Scrivi un messaggio"
              />
            </div>
            <!-- <div> -->
            <i class="fa-solid fa-microphone"></i>
            <!-- </div> -->
          </section>
        </section>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script/script.js"></script>
  </body>
</html>
