/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: #dadbd3;
}

.background{
    height: 15vh;
    background-color: #009688;
}
/* ------------------------------------- */
/* GENERIC CLASS */
.flex-row{
    display: flex;
    flex-direction: row; 
}
.flex-column{
    display: flex;
    flex-direction: column; 
}
/* ------------------------------------- */

.main-size {
    width: 1400px;
    height: 90vh;
}

.main-size.proprieties{
    margin: auto;
    margin-top: -6rem;
    justify-content: space-between;
}

.left-section-size {
    width: 500px;
    height: 100%;
}

.left-section-size.proprieties{
    background-color: white;
    border-right: solid #d6d6d6;
    border-width: .1.2rem;
}

.left-header-size {
    width: calc(500px - .1.2 rem);
    height: 70px;
}

.left-header-size.proprieties{
    background-color: #eaeaea;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.avatar-size{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

/* FORM MY AVATAR  */
.left-header-size :first-child {
    display:flex;
    align-items: center;   
}
.left-header-size span {
    padding-left: 5px;
}

/* ------------------------------------- */
/* ICONS */
.fa-circle-notch {
    color: #b1b1b1;
    font-size: 1.5rem;
    padding: 0 10px;
}
.fa-message {
    color: #b1b1b1;
    font-size: 1.5rem;
    padding: 0 10px;
}
.fa-ellipsis-vertical {
    color: #b1b1b1;
    font-size: 1.5rem;
    padding: 0 10px;
}
.fa-bell-slash{
   color: white;
   font-size: 1.7rem;
   color: #8edafc;
}
.fa-magnifying-glass{
    color: #b1b1b1;
    font-size: 1.1rem;
    font-size: 1.2rem; 
    padding: 0 30px; 
}
.fa-paperclip{
    color: #b1b1b1;
    font-size: 1.5rem;
    padding: 0 10px;
}
.right-header-size .fa-magnifying-glass{
    color: #b1b1b1;
    font-size: 1.5rem;
    padding: 0 10px; 
}
.right-header-size .fa-ellipsis-vertical{
    padding-right: 30px;
}
/* ------------------------------------- */





.new-notifications{
    height: 80px;
    width: 100%;
    background-color: #8edafc;
    align-items: center;
    padding-left: 10px;
}

.notification-box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.notification-text span{
    font-weight:600;
    padding-left: 10px;
}
.notification-text a{
    padding-left: 10px;
    color: #4f7485;
}

.input-search{
    width: 100%;
    height: 40px;
    border-left: none;
    border-right: none;
    border: solid #f5f5f5;
}
.input-bar{
    width: 100%;
    height: 50px;
    background-color: white;
    align-items: center;
}

.text-hour-form{
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-start;
    height: 80px;
    padding-top: 10px;
}

.text-hour-form .flex-column :first-child{
    font-size: 1.3rem;
    font-weight: 500;
}

.text-hour-form .flex-column :last-child{
    font-size: 1rem;
    font-weight: 500;
    color: #bbb9c0
}

.hour{
    color: #bbb9c0
}


.chat{
    height: 80px;
    border: .2rem 0 solid #f5f5f5;
}

.chat.proprieties{
    align-items:center;
    padding:0 10px;
    flex-shrink: 0;
    /* background-color: #009688; */
    /* justify-content: space-between; */
}

.chat-list{
    overflow-y:scroll;
    /* height: calc( 90vh - 194px );  */
    height: 643px;
}


.right-header-size {
    width: calc(800px - .1.2 rem);
    height: 70px;
    
}



.right-header-size.proprieties{
    background-color: #eaeaea;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    

}

.right-section-size {
    width: 750px;
   
    height: 100%;
    flex-grow: 1;
}



.right-section-size.proprieties{
   
}

.right-section-size .text-chat-form{
    justify-content: center;
    padding-left: 10px;
}

.text-chat-form :first-child{
    font-size: 1.3rem;
}
.right-section-size .text-chat-form :last-child{
    color: #6b7376;
    font-size: 1rem;
}

.current-chat-window{
    width: 100%;
    background-image:url(../img/mine.jpg);
    height: calc(90vh - 70px);
    overflow-y: scroll;
    padding-top: 50px;
}

.my-chat-box{
    width: 100%;
    align-items: flex-end;
    padding-right: 70px;
}

.my-chat{
    width: 40%;
    background-color: #d5f9ba;
    border-radius: 4px;
    margin: 5px;
    padding: .8rem;
    justify-content: space-between;
}
.my-chat p{
    overflow-wrap: break-word;
}
.my-chat span{
    color:#b6b9bb;
    font-size: .7rem;
    position: relative;
    top: 15px;
}


.interlocutor-chat{
    width: 40%;
    background-color: white;
    border-radius: 4px;
    margin: 5px;
    padding: .8rem;
    overflow-wrap: break-word;
    justify-content: space-between;
}
.interlocutor-chat-box{
    width: 100%;
    align-items: flex-start;
    padding-left: 70px;
}
.interlocutor-chat span{
    color:#b6b9bb;
    font-size: .7rem;
    position: relative;
    top: 15px;
}





